<!DOCTYPE html>
<html>
	<head>
		<title>Mean App</title>
		<link href="/stylesheets/print.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<!--[if IE]>
			<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
		<script type="text/javascript" src="/client/bower_components/require/build/require.min.js"></script>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>