<!DOCTYPE html>
<html>
	<head>
		<title>Mean App</title>
		<script type="text/javascript" src="/client/bower_components/require/build/require.min.js"></script>
	</head>
	<body>
		<% if (!user) { %>
			<p>
				<a href="/">Home</a> |
				<a href="/login">Log In</a> |
				<a href="/register">Register</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> |
			<a href="/account">Account</a> |
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
